In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pymongo import MongoClient

Hypothesis:
1.    Does the difference in the amount of sulfate in wine change the quality?
a.    If yes, does the quality of wine result in lower alcohol content?
b.    If no, does the quality of wine result in higher alcohol content?
2.    Is there a difference in the amount of sulfate to the quality of white or red wine?
a.    If yes, is the difference because of the amount of sulfate?
b.    If no, is the difference because of the alcohol content?
3.    The difference is neither the sulfate nor the alcohol content – specify dependent on the data

# Extract

We located the 2 CSV files on Kaggle https://www.kaggle.com/maitree/wine-quality-selection/version/1#

# Cleaning Red Wine Data

In [2]:
data_red = pd.read_csv('winequality-red.csv')
data_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# show all columns for red wine
data_red.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [4]:
# Adding a column for wine Type as Red for all type of red wine
data_red['Type'] = 'Red'

#extract 'sulphates', 'alcohol', 'quality' for red wine
reduced_red = data_red.loc[:, ['Type', 'alcohol', 'sulphates', 'alcohol', 'quality']]

# sort by quality from max to min

reduced_red.sort_values(by = ['quality'], ascending = False)

     Type  alcohol  sulphates  alcohol  quality
495   Red     11.0       0.65     11.0        8
1403  Red     10.0       1.10     10.0        8
390   Red     12.9       0.82     12.9        8
1061  Red     12.5       0.69     12.5        8
1202  Red     11.7       0.69     11.7        8
...   ...      ...        ...      ...      ...
690   Red     10.7       0.54     10.7        3
1478  Red     10.2       0.52     10.2        3
899   Red     11.0       0.49     11.0        3
1299  Red     10.9       0.40     10.9        3
832   Red      9.9       0.86      9.9        3

[1599 rows x 5 columns]

# Cleaning White Wine Data

In [5]:
data_white = pd.read_csv('winequality-white.csv')
data_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [6]:
# show all columns for white wine
data_white.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [7]:
# Adding a column for wine Type as White for all types of white wine
data_white['Type'] = 'White'

#extract 'sulphates', 'alcohol', 'quality' for white wine
reduced_white = data_white.loc[:, ['Type', 'sulphates', 'alcohol', 'quality']]

# sort by quality from max to min

reduced_white.sort_values(by = ['quality'], ascending = False)

       Type  sulphates  alcohol  quality
827   White       0.48     12.5        9
1605  White       0.42     12.9        9
876   White       0.36     12.7        9
774   White       0.46     10.4        9
820   White       0.61     12.4        9
...     ...        ...      ...      ...
1484  White       0.50      9.1        3
2373  White       0.54     10.4        3
251   White       0.50      9.8        3
1688  White       0.63      9.4        3
253   White       0.43     11.7        3

[4898 rows x 4 columns]

In [10]:
combined_wine = pd.concat([reduced_white, reduced_red])
combined_wine.sort_values('quality', ascending=False, inplace=True, sort=False)
combined_wine.head()

/Users/irynakorshunovych/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

ValueError: Plan shapes are not aligned